* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }
  
  body > h1 {
    background-color: #f08080;
    padding: 16px;
  }
  
  body {
    background-color: #90ee9075;
  }
  
  body > section {
    padding: 0 12px;
  }
  
  .task {
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    padding: 8px;
    margin: 4px 0;
  }
  
  button {
    padding: 4px;
    background-color: #4f414f;
    color: white;
  }
  
  button.red {
    background-color: #811d1d;
  }
  
  button.blue {
    background-color: #8f91d6;
  }
  
  .done h4 {
    text-decoration: line-through;
  }

  .logout-button {
    position: absolute;
  right: 0; /* Aligns the button to the right */
  padding: 8px 16px;
  background-color: #4f414f;
  color: white;
  border: none;
  cursor: pointer;
  }